* {
    box-sizing: border-box;
    font-family: "Open-Sans", sans-serif;
}
.header{
    margin: 20px 150px 20px 150px;
}
.banner-image img{
    height: 400px;
    width: 100%;
    background-color: black;
}
.second-container{
    margin: 20px 150px 20px 150px;
}