* {
    box-sizing: border-box;
    font-family: "Corsiva Hebrew";
}
body{
    background-color: #030202;
    background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);;
}
.header{
    margin: 0 100px 0 100px;
    padding-bottom: 0;
    /*position: fixed;*/
}
.header .navbar .container-fluid .navbar-brand{
    /*font-family: "Corsiva Hebrew", sans-serif;*/
    font-size: 2.5em;
}
.banner-image img{
    height: 400px;
    width: 100%;
    background-color: black;
}
.second-container{
    margin: 0 100px 20px 100px;
    background-color: black;
    color: white;
}
.fa-solid{
    justify-content: center;
    align-items: center;
}
.login{
    margin-left: 20px;
}
.navbar{
    height: 80px;
}
.form-one{
    margin: 10px 0 10px 0;
}