:root{
    --bg-error: #fad3d7;
    --font-error: #8a253e;
    --bg-info: #cddeff;
    --font-info: darkblue;
    --bg-success: #cff3da;
    --font-success: darkgreen;
    --bg-warning: #fcfbc9;
    --font-warning: goldenrod;
    --border-color: dimgray;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    margin-top: 8px;
    margin-left: 30px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 3px;
}
.message-info{
    background-color: var(--bg-info);
    color: var(--font-info);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.message-success{
    background-color: var(--bg-success);
    color: var(--font-success);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.message-warning{
    background-color: var(--bg-warning);
    color: var(--font-warning);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.message-error{
    background-color: var(--bg-error);
    color: var(--font-error);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
