/*LOGO & NAV BAR*/
body{
    background-color: #0093E9;
    color: white;
}
a{
    color: white;
}
span{
    color: darkblue;
}
#top-container{
    margin: 0;
    height: 750px;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#top-container h1{
    color: rgba(0,255,255,0.5);
    font-family: "Academy Engraved LET", sans-serif;
    text-decoration: none;
    font-size: 3.0rem;
}
#top-container nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
#top-container > ul, li{
    display: inline;
    padding-left: 56px;
    font-size: 1.5rem;
}
#top-container .left-navbar-heading{
    text-decoration: none;
}
#top-container .navbar {
    display: flex;
    justify-content: space-between;
}
#top-container .navbar .right-navbar {
    width: 400px;
    display: flex;
    align-items: flex-end;
}
#top-container .right-navbar a {
    text-decoration: none;
    font-size: 1.3rem;
}
#top-container .right-navbar a:hover {
    color: yellow;
}
.left-navbar{
    margin-left: 50px;
    margin-top: 50px;
}
.right-navbar{
    margin-right: 50px;
    margin-bottom: 20px;
}
.header-message{
    font-size: 3rem;
    font-weight: bolder;
    padding-left: 100px;
    padding-right: 1100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*EVERYTHING BELOW NAV BAR*/
#second-container{
    margin: 0 100px 0 100px;
}
#second-container nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.panel{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 15px 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.pricing-plan{
    border-bottom: black;
    font-size: 1.0rem;
    color: #0093E9;
    font-weight: bold;
}
.pricing-plan > li{
    color: black;
}
.pricing-img{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}
ul, ol {
    list-style-type: none;
}
h2 {
    color: white;
}
.image-panel{
    display: flex;
    justify-content: space-between;
}
#customers{
    width: 100%;
    border-collapse: collapse;
}
#customers td, #customers th{
    border: 1px solid white;
    padding: 8px;
}
#customers tr:nth-child(even){background-color: darkblue}
#customers tr:hover{background-color: white;}
#customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #0093E9;
    color: white;
}




