/*LOGO & NAV BAR*/
body{
    background-color: #0093E9;
    color: white;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
span{
    color: darkblue;
}
.header-icon{
    width: 100px;
    height: 100px;
}
#top-container{
    box-sizing: border-box;
    height: 750px;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#top-container h1{
    color: rgba(0,255,255,0.5);
    font-family: "Academy Engraved LET", sans-serif;
    font-size: 3.0rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    /*padding-left: 30px;*/
}
.menu a{
    color: white;
    margin: 0 20px;
    transition: 0.2s ease;
}
.menu a:hover {
    color: black;
}

.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.two-column > .col-left{
    width: 50%;
    box-sizing: border-box;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-top: 100px;
}
.two-column > .col-right{
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-image{
    width: 500px;
    height: 500px;
}

/*EVERYTHING BELOW NAV BAR*/
#second-container{
    margin: 0 100px 0 100px;
}
#second-container nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.panel{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 15px 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.pricing-plan{
    border-bottom: black;
    font-size: 1.0rem;
    color: #0093E9;
    font-weight: bold;
}
.pricing-plan > li{
    color: black;
}
.pricing-img{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}
ul, ol {
    list-style-type: none;
}
h2 {
    color: white;
}
.image-panel{
    display: flex;
    justify-content: space-between;
}
#customers{
    width: 100%;
    border-collapse: collapse;
}
#customers td, #customers th{
    border: 1px solid white;
    padding: 8px;
}
#customers tr:nth-child(even){background-color: darkblue}
#customers tr:hover{background-color: white;}
#customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #0093E9;
    color: white;
}




